<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
   <% include ./partials/_header %>

    <ul>
      List of URLS
      <hr/>
      <% for(var key in urls) { %>
        <li>ShortURL: <%= key %> | Long URL: <%= urls[key] %></li>
        <a href="<%=urls[key]%>"> <%= urls[key] %> </a>

        <form method="POST" action="/urls/<%= key %>/delete" >
            <button name= "<%= urls[key] %>">delete</button>
        </form>

        <form method="GET" action="/urls/<%= key %>">
            <button>update</button>
        </form>

      <% } %>
    </ul>
</body>
</html>


